{% extends "layout.html"%}

{% block content %}
    

    <div class="row">
        <div class="col-md-12 text-center">

            {% for user in users %}
            
            <d1>
                <dt>User id : {{ user.user_id}}</dt>
                <dt>Email : {{ user.email}}</dt>
                <dt>Password : {{ user.password}}</dt>
            </d1>
            {% else %}

            <h3>No users yet</h3>

            {% endfor %}

            </div>
    </div>

    {% endblock %}

